<link href="node_modules/@angular/material/prebuilt-themes/indigo-pink.css" rel="stylesheet">

<div  class="container-contact100">



  <div class="contact100-map" data-map-x="40.722047" data-map-y="-73.986422" data-pin="images/icons/map-marker.png" data-scrollwhell="0" data-draggable="1"></div>

  <div class="wrap-contact100">
  
<div class="grid-container">
  <section class="grid-item">
      <div class="section-header">
          <mat-icon class="section-icon">account_circle</mat-icon>
        <h1 class="section-title">
          <span>
            Coordonnées
          </span>
          </h1>
      </div>
    
      <form class="contact100-form "
          [formGroup]="personalData" 
          #f="ngForm" 

          >
   
    
      <mat-form-field class="gender grid-item"
        appFormFieldState>

          <mat-select placeholder="Civ."
            formControlName="gender"
            (blur)="onBlur('gender')" >

            <mat-option *ngFor="let gender of genders" [value]="gender.value">
              {{ gender.viewValue }}
            </mat-option>
        </mat-select>
          <mat-error align="start" *ngIf="!fieldsValidity['gender'].required" class="form__error">{{ validationMessages.gender.required }}</mat-error>

      </mat-form-field>



      <mat-form-field class="lastname grid-item"
      
      appFormFieldState>
        <input matInput placeholder="Nom" 
            type="text"
            formControlName="lastname"
            (blur)="onBlur('lastname')" >

      <mat-error align="start" *ngIf="!fieldsValidity['lastname'].required" class="form__error">{{ validationMessages.lastname.required }}</mat-error>

      </mat-form-field>

      <mat-form-field class="firstname grid-item"
            appFormFieldState>

        <input matInput placeholder="Prénom"
            type="text"
            formControlName="firstname"
            (blur)="onBlur('firstname')">

        <mat-error align="start" *ngIf="!fieldsValidity['firstname'].required" class="form__error">{{ validationMessages.firstname.required }}</mat-error>


      </mat-form-field>


      <mat-form-field class="country grid-item">
          <mat-select placeholder="pays" formControlName="country"  (ngModelChange)="updateFormControlValidator($event)" 
               (blur)="onBlur('country')" >
            <mat-option *ngFor="let country of countries" [value]="country.value" >
              {{country.viewValue}}
            </mat-option>
          </mat-select>
          <mat-error align="start" *ngIf="!fieldsValidity['country'].required" class="form__error">{{ validationMessages.country.required }}</mat-error>

        </mat-form-field>


      <mat-form-field class="passportId grid-item" 
            appFormFieldState>

        <input matInput placeholder="numero de passeport"
            type="text"
            formControlName="passportId"
            (blur)="onBlur('passportId')"> 
        <mat-error align="start" *ngIf="!fieldsValidity['passportId'].required" class="form__error">{{ validationMessages.passportId.required }}</mat-error>
        <mat-error align="start" *ngIf="!fieldsValidity['passportId'].format && fieldsValidity['passportId'].required" class="form__error">{{ validationMessages.passportId.structure }}</mat-error>


        </mat-form-field>


      <mat-form-field class="email grid-item"
            appFormFieldState>

        <input matInput placeholder="Email"
            type="email"
            ngModel email
            formControlName="email"
            (blur)="onBlur('email')">
            
            
            <mat-icon matSuffix>email</mat-icon>
        <mat-error align="start" *ngIf="!fieldsValidity['email'].required" class="form__error">{{ validationMessages.email.required }}</mat-error>
        <mat-error align="start" *ngIf="!personalData.controls.email.valid && fieldsValidity['email'].required " class="form__error">{{ validationMessages.email.structure }}</mat-error>

      </mat-form-field>
      <button mat-raised-button color="primary" class="submit" type="submit" [disabled]="!personalData.valid">Submit</button>


      </form>

    </section>
  </div>
